apiVersion: v1
kind: Secret
metadata:
  name: cancom-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "token": "y0ur-t0k3n",
      "service_registry": "https://service-registry.portal.cancom.io"
    }
